In [79]:
pip install ISLP

Hello, Big Cat!
Requirement already satisfied: ISLP in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (0.4.0)
Requirement already satisfied: numpy>=1.7.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (1.26.4)
Requirement already satisfied: scipy>=0.9 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (1.11.4)
Requirement already satisfied: pandas>=0.20 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (2.2.2)
Requirement already satisfied: lxml in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (5.3.0)
Requirement already satisfied: scikit-learn>=1.2 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (1.5.1)
Requirement already satisfied: joblib in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (1.4.2)
Requirement already satisfied: statsmodels>=0.13 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (0.14.2)
Requirement already satisfied: lifelines in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (0.29.0)
Requirement already satisfied: pygam in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (0.9.1)
Requirement already satisfied: torch in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (2.4.1)
Requirement already satisfied: pytorch-lightning in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (2.4.0)
Requirement already satisfied: torchmetrics in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from ISLP) (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from pandas>=0.20->ISLP) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from pandas>=0.20->ISLP) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from pandas>=0.20->ISLP) (2024.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from scikit-learn>=1.2->ISLP) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from statsmodels>=0.13->ISLP) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from statsmodels>=0.13->ISLP) (24.1)
Requirement already satisfied: matplotlib>=3.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from lifelines->ISLP) (3.9.2)
Requirement already satisfied: autograd>=1.5 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from lifelines->ISLP) (1.7.0)
Requirement already satisfied: autograd-gamma>=0.3 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from lifelines->ISLP) (0.5.0)
Requirement already satisfied: formulaic>=0.2.2 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from lifelines->ISLP) (1.0.2)
Requirement already satisfied: progressbar2<5.0.0,>=4.2.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from pygam->ISLP) (4.5.0)
Requirement already satisfied: tqdm>=4.57.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from pytorch-lightning->ISLP) (4.66.5)
Requirement already satisfied: PyYAML>=5.4 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from pytorch-lightning->ISLP) (6.0.2)
Requirement already satisfied: fsspec>=2022.5.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2024.9.0)
Requirement already satisfied: typing-extensions>=4.4.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from pytorch-lightning->ISLP) (4.12.2)
Requirement already satisfied: lightning-utilities>=0.10.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from pytorch-lightning->ISLP) (0.11.7)
Requirement already satisfied: filelock in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from torch->ISLP) (3.16.1)
Requirement already satisfied: sympy in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from torch->ISLP) (1.13.3)
Requirement already satisfied: networkx in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from torch->ISLP) (3.4.1)
Requirement already satisfied: jinja2 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from torch->ISLP) (3.1.4)
Requirement already satisfied: setuptools in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from torch->ISLP) (73.0.1)
Requirement already satisfied: interface-meta>=1.2.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.3.0)
Requirement already satisfied: wrapt>=1.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.16.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.10.10)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from matplotlib>=3.0->lifelines->ISLP) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from matplotlib>=3.0->lifelines->ISLP) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.4.7)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from matplotlib>=3.0->lifelines->ISLP) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from matplotlib>=3.0->lifelines->ISLP) (3.1.4)
Requirement already satisfied: six in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from patsy>=0.5.6->statsmodels>=0.13->ISLP) (1.16.0)
Requirement already satisfied: python-utils>=3.8.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from progressbar2<5.0.0,>=4.2.0->pygam->ISLP) (3.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from jinja2->torch->ISLP) (2.1.5)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from sympy->torch->ISLP) (1.3.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2.4.3)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.12.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.15.2)
Requirement already satisfied: idna>=2.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from yarl<2.0,>=1.12.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.8)
Requirement already satisfied: propcache>=0.2.0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from yarl<2.0,>=1.12.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (0.2.0)
Note: you may need to restart the kernel to use updated packages.

In [80]:
pip install l0bnb

Hello, Big Cat!
Requirement already satisfied: l0bnb in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (1.0.0)
Requirement already satisfied: numpy>=1.18.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from l0bnb) (1.26.4)
Requirement already satisfied: scipy>=1.4.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from l0bnb) (1.11.4)
Requirement already satisfied: numba>=0.53.1 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from l0bnb) (0.60.0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /opt/anaconda3/envs/erdos_fall_2024/lib/python3.12/site-packages (from numba>=0.53.1->l0bnb) (0.43.0)
Note: you may need to restart the kernel to use updated packages.

In [81]:
import numpy as np
import pandas as pd
from matplotlib.pyplot import subplots
from statsmodels.api import OLS
import sklearn.model_selection as skm
import sklearn.linear_model as skl
from sklearn.preprocessing import StandardScaler
from ISLP import load_data
from ISLP.models import ModelSpec as MS
from functools import partial
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.cross_decomposition import PLSRegression
from ISLP.models import \
     (Stepwise,
      sklearn_selected,
      sklearn_selection_path)
# from l0bnb import fit_path

In [82]:
metadata = pd.read_csv('../Data/metadata.csv')

In [83]:
metadata

,sample_id,split,instrument_type,features_path,features_md5_hash
0,S0000,train,commercial,train_features/S0000.csv,017b9a71a702e81a828e6242aa15f049
1,S0001,train,commercial,train_features/S0001.csv,0d09840214054d254bd49436c6a6f315
2,S0002,train,commercial,train_features/S0002.csv,3f58b3c9b001bfed6ed4e4f757083e09
3,S0003,train,commercial,train_features/S0003.csv,e9a12f96114a2fda60b36f4c0f513fb1
4,S0004,train,commercial,train_features/S0004.csv,b67603d3931897bfa796ac42cc16de78
...,...,...,...,...,...
1489,S1501,test,commercial,test_features/S1501.csv,f3834e4746797ff9e28efd3778d0a0f0
1490,S1502,test,commercial,test_features/S1502.csv,59402e65b5689766fbc18943c6c0a881
1491,S1503,test,commercial,test_features/S1503.csv,dd42287ddc74a8639495fa035ecc59a0
1492,S1504,test,commercial,test_features/S1504.csv,3030319eb6c5ed1cc6c15f8210991572
1493,S1505,test,commercial,test_features/S1505.csv,9edd10d43e50be65d21705d343b6e965

### Labels

The files containing labels are used to train a model. They tell you what a given sample actually consists of. The measurements associated to each sample are contained in the features files.

In [84]:
train_labels = pd.read_csv('../Data/train_labels.csv')
supplemental = pd.read_csv('../Data/supplemental_metadata.csv')
val_labels = pd.read_csv('../Data/val_labels.csv')
train_labels_2 = pd.read_csv('../Data/train_labels2.csv')
val_labels2 = pd.read_csv('../Data/val_labels2.csv')
submission_format = pd.read_csv("../Data/submission_format.csv")

We will check that val_labels and val_labels_2 are the same:

In [85]:
val_labels.equals(val_labels2)

True

Same for train_labels and train_labels_2

In [86]:
train_labels.equals(train_labels_2)

True

So we may ignore the 2 versions. We join the two files.

In [87]:
train_labels.tail()

,sample_id,basalt,carbonate,chloride,iron_oxide,oxalate,oxychlorine,phyllosilicate,silicate,sulfate,sulfide
749,S0749,0,0,0,0,0,0,0,0,0,0
750,S0750,0,0,0,0,0,0,1,0,0,0
751,S0751,0,0,0,0,0,0,0,1,0,0
752,S0752,0,0,0,1,0,0,0,0,0,0
753,S0753,1,0,0,0,0,1,0,0,0,0

In [88]:
val_labels.tail()

,sample_id,basalt,carbonate,chloride,iron_oxide,oxalate,oxychlorine,phyllosilicate,silicate,sulfate,sulfide
288,S1054,0,0,0,0,0,0,0,0,0,0
289,S1055,0,0,0,0,0,0,0,1,0,0
290,S1056,0,0,0,0,1,0,0,0,0,0
291,S1057,0,1,0,0,0,0,0,0,0,0
292,S1058,0,0,0,0,0,0,1,0,0,0

In [89]:
frames = [train_labels,val_labels]
combined_labels = pd.concat(frames)
combined_labels.tail()

,sample_id,basalt,carbonate,chloride,iron_oxide,oxalate,oxychlorine,phyllosilicate,silicate,sulfate,sulfide
288,S1054,0,0,0,0,0,0,0,0,0,0
289,S1055,0,0,0,0,0,0,0,1,0,0
290,S1056,0,0,0,0,1,0,0,0,0,0
291,S1057,0,1,0,0,0,0,0,0,0,0
292,S1058,0,0,0,0,0,0,1,0,0,0

Check that there are no duplicates

In [90]:
for i in combined_labels.duplicated(subset='sample_id',keep = 'first'):
    if i == True:
        print("found duplicate")

In [91]:
combined_labels.shape

(1047, 11)

In [92]:
from sklearn.model_selection import train_test_split
labels_train, labels_test = train_test_split(combined_labels, test_size=.2,random_state=42,shuffle=True)

print (labels_test.shape)

(210, 11)

In [93]:
print ("The numbers of nulls in labels_test is",labels_test.isnull().sum().sum())
print ("The numbers of nulls in labels_train is",labels_train.isnull().sum().sum())

The numbers of nulls in labels_test is 0
The numbers of nulls in labels_train is 0

### The actual measurement files
We load one of the measurement files just to see what is in there.

In [94]:
S0749 = pd.read_csv('../Data/train_features/S0749.csv')

In [95]:
S0749.isnull().sum(axis = 0)

time         0
temp         0
m/z          0
abundance    0
dtype: int64

In [96]:
labels_train.head()

,sample_id,basalt,carbonate,chloride,iron_oxide,oxalate,oxychlorine,phyllosilicate,silicate,sulfate,sulfide
552,S0552,0,0,0,0,0,0,1,0,0,0
254,S1020,0,0,0,0,1,0,0,0,0,0
371,S0371,0,0,1,0,0,0,0,0,0,0
420,S0420,0,0,0,0,0,0,0,0,0,0
6,S0772,0,0,0,0,0,0,1,0,0,0

In [133]:
num_samples = 10

df_collection = pd.Series(range(num_samples), index = labels_train.sample_id.values[0:num_samples])

for i,j in enumerate(labels_train.sample_id.head(num_samples)):
      
    
    try:
        df_collection[i] = pd.read_csv("../Data/train_features/"+str(j)+".csv")
    except:
        df_collection[i] = pd.read_csv("../Data/val_features/"+str(j)+".csv")

# print(df_collection.iloc[3])

df_collection.iloc[3].head(10)

/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:9: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/train_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '          time     temp   m/z     abundance
0         0.00   30.005   0.0  1.359419e-10
1         0.00   30.005   1.0  2.143780e-10
2         0.00   30.005   2.0  5.823261e-11
3         0.00   30.005   3.0  1.288442e-10
4         0.00   30.005   4.0  1.195885e-07
...        ...      ...   ...           ...
31895  1657.15  999.651  95.0  2.310026e-13
31896  1657.15  999.651  96.0  2.573921e-13
31897  1657.15  999.651  97.0  2.233591e-13
31898  1657.15  999.651  98.0  2.203500e-13
31899  1657.15  999.651  99.0  2.261479e-13

[31900 rows x 4 columns]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_collection[i] = pd.read_csv("../Data/train_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:11: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/val_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:9: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/train_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:9: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/train_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:11: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/val_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:9: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/train_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:9: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/train_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:11: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/val_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:9: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/train_features/"+str(j)+".csv")
/var/folders/sb/bm5l_dgs6vg61tdy4phf0vcm0000gn/T/ipykernel_71750/609935466.py:9: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_collection[i] = pd.read_csv("../Data/train_features/"+str(j)+".csv")

   time    temp  m/z     abundance
0   0.0  29.965  0.0  6.142533e-09
1   0.0  29.965  1.0  9.506487e-09
2   0.0  29.965  2.0  3.685148e-09
3   0.0  29.965  3.0  6.109329e-09
4   0.0  29.965  4.0  4.062397e-07
5   0.0  29.965  5.0  5.997939e-10
6   0.0  29.965  6.0  8.601567e-12
7   0.0  29.965  7.0  9.934129e-13
8   0.0  29.965  8.0  3.433641e-12
9   0.0  29.965  9.0  5.151772e-13